<<<<<<< HEAD
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    overflow-x: hidden;
}

.nav_style{
    font-size: px;
    z-index: ;
}

.nav-item a{
    font-weight: bold;
    letter-spacing: 3px;
}
.form-control{
    border-radius: 25px;
}

.nav_style .row{
}

/* Main body Styling */

.top-gar-img{
    width: inherit;
    position : relative;
    z-index: 1;
}
.top-img{
    position: relative;
    width: 5000px;
    top:-1px;
    height: 50%;
}

.back-img {
    display: block;
    background-image: url("/img/h_b.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60em;
    background-position: center;
    
    width: 100%;
    position: relative;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.heading  {
    z-index: 10;
    margin-left: 50px;
    position:absolute;
    margin-top: 230px;
}
.head-first{
    box-sizing: inherit;
    color:#deb37e;
    text-shadow: 10px 0px 4px #d2cfcc;
    font-size: 6vh;
    letter-spacing: 10px;
    font-weight: 700;
}
.sub-first{
    box-sizing: inherit;
    letter-spacing: 10px;
    font-size: 2.0vw;
    color: #54524f;
}

.sub-1{
    font-size: 1.5vw;
}
.btn-head{
    margin-top: 60px;
    color: #776c64;
    font-weight: bold;
    font-size: 28px;
    padding: 5px 45px;
    border-radius: 25px;
}
.heading p{
    font-size: 25px;
    margin-top: 20px;
    letter-spacing: 2px;
}
head-2{
    position: static;
    color:#deb37e;
    font-size: 60px;
}

.width-img{
    position: relative;
}
.image-src{
    width: 100%;
}
.width{
    width: 100%;
    position: relative;
    top:-180px;
}
.head-2{
    font-weight: bold;
    color: #e2a355;
    position: relative;
    font-size: 1rem;
    letter-spacing: 5px;
}
.sub-head-2{
    color: #e2a355;
    position:relative ;
    font-size: 50px;

}
.head-top-img{
    box-sizing: inherit;
    position: relative;
    width: 100%;
    }
/* @media only screen and (max-width: 992px){
    .head-bg .heading{
        display:block;  
        max-width: 100%!important;
        margin:auto!important;
    }
}
@media only screen and (max-width: 992px){
    .head-bg .heading{
        display:block;  
        max-width: 100%!important;
        margin:auto!important;
    } */
/* } */
.head-bg{
    position: relative;
}

.position p{
    position: absolute;
}
.position p{
    font-size: inherit;
}
.paragraph{
    display: block;
}

.img-2{
    top: -155px;
    position: relative;
}
.img-2 img{
    width: 100%;
    height: auto;
    display: inline;
}

.sec{
    position: relative;
    top: ;
}


















=======
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    overflow-x: hidden;
}

.nav_style{
    font-size: px;
    z-index: ;
}

.nav-item a{
    font-weight: bold;
    letter-spacing: 3px;
}
.form-control{
    border-radius: 25px;
}

.nav_style .row{
}

/* Main body Styling */

.top-gar-img{
    width: inherit;
    position : relative;
    z-index: 1;
}
.top-img{
    position: relative;
    width: 5000px;
    top:-1px;
    height: 50%;
}

.back-img {
    display: block;
    background-image: url("/img/h_b.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60em;
    background-position: center;
    
    width: 100%;
    position: relative;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.heading  {
    z-index: 10;
    margin-left: 50px;
    position:absolute;
    margin-top: 230px;
}
.head-first{
    box-sizing: inherit;
    color:#deb37e;
    text-shadow: 10px 0px 4px #d2cfcc;
    font-size: 6vh;
    letter-spacing: 10px;
    font-weight: 700;
}
.sub-first{
    box-sizing: inherit;
    letter-spacing: 10px;
    font-size: 2.0vw;
    color: #54524f;
}

.sub-1{
    font-size: 1.5vw;
}
.btn-head{
    margin-top: 60px;
    color: #776c64;
    font-weight: bold;
    font-size: 28px;
    padding: 5px 45px;
    border-radius: 25px;
}
.heading p{
    font-size: 25px;
    margin-top: 20px;
    letter-spacing: 2px;
}
head-2{
    position: static;
    color:#deb37e;
    font-size: 60px;
}

.width-img{
    position: relative;
}
.image-src{
    width: 100%;
}
.width{
    width: 100%;
    position: relative;
    top:-180px;
}
.head-2{
    font-weight: bold;
    color: #e2a355;
    position: relative;
    font-size: 1rem;
    letter-spacing: 5px;
}
.sub-head-2{
    color: #e2a355;
    position:relative ;
    font-size: 50px;

}
.head-top-img{
    box-sizing: inherit;
    position: relative;
    width: 100%;
    }
/* @media only screen and (max-width: 992px){
    .head-bg .heading{
        display:block;  
        max-width: 100%!important;
        margin:auto!important;
    }
}
@media only screen and (max-width: 992px){
    .head-bg .heading{
        display:block;  
        max-width: 100%!important;
        margin:auto!important;
    } */
/* } */
.head-bg{
    position: relative;
}

.position p{
    position: absolute;
}
.position p{
    font-size: inherit;
}
.paragraph{
    display: block;
}

.img-2{
    top: -155px;
    position: relative;
}
.img-2 img{
    width: 100%;
    height: auto;
    display: inline;
}

.sec{
    position: relative;
    top: ;
}


















>>>>>>> 0b1c1fc13e175e5f0a4172c0a45e3385ebf4a435
