*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    overflow-x: hidden;
}

.nav_style{
    z-index: 100;
}

.nav-item a{
    font-weight: bold;
    letter-spacing: 3px;
}
.form-control{
    border-radius: 25px;
}


/* Main body Styling */

.top-gar-img{
    width: inherit;
    position : relative;
    z-index: 1;
}
.top-img{
    position: relative;
    width: 5000px;
    top:-1px;
    height: 50%;
}

.back-img {
    display: block;
    background-image: url("/first-website/img/h_b.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60em;
    background-position: center;
    
    width: 100%;
    position: relative;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.heading  {
    z-index: 10;
    margin-left: 50px;
    position:absolute;
    margin-top: 230px;
}
.head-first{
    box-sizing: inherit;
    color:#deb37e;
    text-shadow: 10px 0px 4px #d2cfcc;
    font-size: 6vh;
    letter-spacing: 10px;
    font-weight: 700;
}
.sub-first{
    box-sizing: inherit;
    letter-spacing: 10px;
    font-size: 2.0vw;
    color: #54524f;
}

.sub-1{
    font-size: 1.5vw;
}
.btn-head{
    margin-top: 60px;
    color: #776c64;
    font-weight: bold;
    font-size: 28px;
    padding: 5px 45px;
    border-radius: 25px;
}
.heading p{
    font-size: 25px;
    margin-top: 20px;
    letter-spacing: 2px;
}
head-2{
    position: static;
    color:#deb37e;
    font-size: 60px;
}

.width-img{
    position: relative;
}
.image-src{
    width: 100%;
}
.width{
    width: 100%;
    position: relative;
    top:-180px;
}
.head-2{
    font-weight: bold;
    color: #e2a355;
    position: relative;
    font-size: 1rem;
    letter-spacing: 5px;
}
.sub-head-2{
    color: #e2a355;
    position:relative ;
    font-size: 50px;

}
.head-top-img{
    box-sizing: inherit;
    position: relative;
    width: 100%;
    }

.head-bg{
    position: relative;
}

.position p{
    position: absolute;
}
.position p{
    font-size: inherit;
}
.paragraph{
    display: block;
}

.img-2{
    top: -155px;
    position: relative;
}
.img-2 img{
    width: 100%;
    height: auto;
    display: inline;
}

.sec{
    position: relative;
    padding: 0;
}

.card-3{
    padding-right: 0;
}
.card-3 img{
    max-height:326.75px ;
}
.card-body{
    text-align: center;
}
.section-button{
    display: inline-block;
    width:1rem!important;
    background-color:#7f7770;
    border-radius: 1.5rem;
    color: white;
}
.card-4{
    display: flex;
}
.split-col-1-color{
    background-color: #7f7770;
}
.split-col-1-color h1, .split-col-1-color p{
    color: #ffffff;
}

.col{
    padding: 0;
}
.split-col-2-color{
    background-color: #deb37e;
}
.split-col-2-color h1,.split-col-2-color p{
    color: #ffff;
}
.para{
    font-size: 1.3rem;
    max-width: 25rem;
}
section h1{
    font-size:3.2rem;
}
.split-btn{
    background-color: #e2a355;
    color:#ffff!important;
    font-weight: normal!important;
}
.sec-5-back{
    background-image:url("/first-website/img/section-5.png");
    height: 55em;
}
.centre{
    text-align: center;
}
.margin{
    position: relative;
    top: 350px;
    color: #ffff;
}
.margin p{
    max-width: 25rem;
    color: #dbdbdb;
}
#split .col-md-6{
    padding: 0;
}
.section-6{
    background-image: url("/first-website/img/section-6.png");
    height: 64em;
    background-position: center;
}
.sec-6-hd{
    float:right;
    position: relative;
    margin-top: 470px;
}

.sec-6-hd .h2, h2 {
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
}
.Explore {
    color: #deb37e;
}
.World{
    color:#6d6b68
}

.footer-bg{
    background-image: url("/first-website/img/Footer.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 30em;
}
.social{
    list-style: none;
    display: inline-flex;
}

.social li {
    padding: 0px 10px 0px 10px;
}
.foot-part-1{
    margin-top: 153px!important;
    text-align: left;
    padding-top: 0px;
}
.foot-part-2{
    margin-top: 153px!important;
    text-align: left;
}
.foot-menu{
    display: flex;
    flex-wrap: wrap;
}
.list-style{
    list-style: none;
}